@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

:root {
  --fd-primary: hsl(160 84% 27%);
  --fd-primary-foreground: hsl(0 0% 100%);
}

.dark {
  --fd-primary: hsl(158 64% 55%);
  --fd-primary-foreground: hsl(160 80% 8%);
}
